<div class="face-snap-card"   *ngIf="faceSnap$ | async as faceSnap" [ngClass]="{ snapped: buttonText === 'deja aimer!' }">
  <h2>{{ faceSnap.title | uppercase }}</h2>
  <a routerLink="/facesnaps">Back</a>
  <p>Mis en ligne {{ faceSnap.createdDate | date: 'à HH:mm, le d MMMM yyyy' }}</p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p>{{ faceSnap.description }}</p>
  <form  [formGroup]="snapForm">
      <!--    @todo a changer-->
    <div class="form-group"  >
      <input  #like type="hidden" id="like" value="{{faceSnap.id}}" formControlName="like"  />
      <input  #lId type="hidden" id="lId" value="{{faceSnap.snaps+1}}" formControlName="lId" />
    </div>
    <div class="action-buttons">
      <button   (click)="onSendReact(like.value,lId.value)"
              >
        {{buttonText}}
      </button>
      <span [ngStyle]="{ color: 'rgb(0,' + faceSnap.snaps + ', 0)'}">
      👍 {{ faceSnap.snaps }}
    </span>
    </div>
  </form>
  <p *ngIf="faceSnap.location">Cet evenèment ce déroule  à {{ faceSnap.location }}</p>

</div>
