<footer>
  <div class="apropos leDiv">
    <h4>A propos</h4>
    <p> <a href="#">Fonctionnement du site</a> </p>
    <p><a href="#">Conditions générales de vente</a> </p>
    <p><a href="#">Données et confidentialité</a> </p>
  </div>
  <div class="hebergement leDiv">
    <h4>Nos hébergements</h4>
    <p><a href="#">Charte qualité</a> </p>
    <p><a href="#">Soumettre votre hôtel</a> </p>
  </div>
  <div class="assistance leDiv">
    <h4>Assistance</h4>
    <p><a href="#">Centre d'aide</a> </p>
    <p><a href="#">Nous Contacter</a> </p>
  </div>

</footer>
