<form [formGroup]="snapFormSign">
  <div class="form-card">
    <h2>Inscription</h2>
    <div class="form-group">
      <label for="email">Email</label>
      <input #email type="text" id="email"  formControlName="email">
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input #password type="password" id="password" formControlName="password">
    </div>
    <div class="action-buttons">
      <button type="submit" #signIn (click)="signUp(email.value,password.value)"  [disabled]="snapFormSign.invalid">
        je m'inscrit
      </button>
    </div>
    <span class="action-buttons"> ou  <button routerLink="/auth/login">se connecter</button></span>
  </div>
</form>


<!--<mat-form-field class="example-full-width">-->
<!--  <input matInput placeholder="Last Name" formControlName="like">-->
<!--  <mat-error *ngIf="like?.invalid"> {{lastNameError()}} </mat-error>-->
<!--</mat-form-field>-->
